<IfModule mod_rewrite.c>
    RewriteEngine On

    # Define the base directory if your project is in a subdirectory
    RewriteBase /proyecto-TOO/

    # Redirect all requests to index.php unless they are for existing files or directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>